
.footer {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer li {
    margin-left: 0rem;
    list-style: none;
    color: wheat;
}



@media (max-width:768px){
    .footer {
        margin: 2rem;
        display: flex;
        justify-content: flex-start;
    }
}